body{
    background-color: rgba(255, 255, 0, 0.625);
    color: rgb(89, 48, 13);
    font-family: "Bitcount Grid Double", system-ui;
    margin: 0px;

}

header{
    font-size: 60px;
    border: double border 5px orange;
}
h1{
    font-size: 40px;
}

p{
    font-size: 30px;
}