body{
    background-color: rgba(255, 255, 0, 0.625);
    color: rgb(89, 48, 13);
    font-family: "Bitcount Grid Double", system-ui;
    margin: 0px;

}
header{
    font-size: 60px;
    text-align: center;
    border-bottom:  double border 5px orange;
    margin: 30px
}
h1{
    font-size: 40px;
}

p{
    font-size: 30px;
}

section{
background-color: rgb(228, 183, 79);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}


.chamada-texto{
    margin-right: 10%;
}